/* setup-form */
.setup-form-wrapper {
  display: flex;
  gap: 24px;
}

.form-editor {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--background);
  min-width: 180px;
}

.form-content-wrapper {
  display: flex;
  justify-content: center;
}

.form-editor-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dropdown-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.question-editor {
  width: 75%;
  overflow: scroll;
}

.response-form-wrapper,
.question-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.response-form-question,
.setup-form-question {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.response-form-wrapper button,
.question-form-wrapper button {
  margin: auto;
}

/* rating question */
.star-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* yes no question */

.button-wrapper {
  display: flex;
  gap: 4px;
}

.chosen {
  background-color: var(--yellow);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .setup-form-wrapper {
    flex-direction: column;
  }

  .form-editor {
    position: fixed;
    bottom: -40px;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .form-editor-container {
    max-height: 180px;
    overflow: scroll;
  }

  .form-editor-content {
    width: 100%;
  }

  .form-editor-content button {
    max-width: none;
  }

  .question-editor {
    width: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .setup-form-wrapper {
    flex-direction: column;
  }

  .form-editor {
    position: fixed;
    bottom: -40px;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .form-editor-container {
    max-height: 180px;
    overflow: scroll;
  }

  .form-editor-content {
    width: 100%;
  }

  .form-editor-content button {
    max-width: none;
  }

  .question-editor {
    width: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .setup-form-wrapper {
    flex-direction: row;
  }

  .form-editor {
    position: relative;
    width: 25%;
    bottom: auto;
  }

  .form-editor-container {
    max-height: none;
  }

  .form-editor-content {
    width: auto;
  }

  .form-editor-content button {
    max-width: 250px;
  }

  .question-editor {
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
