/* setup-form */
.setup-form-wrapper {
  display: flex;
}

.form-editor {
  width: 25%;
}

.question-editor {
  width: 100%;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

/* rating form */
.star-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* yes no form */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  display: flex;
  gap: 4px;
}
