/* setup-form */
.setup-form-wrapper {
  display: flex;
  gap: 24px;
}

.form-editor {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dropdown-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
}

.question-editor {
  width: 75%;
}

.response-form-question,
.setup-form-question {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.response-form-question button,
.setup-form-question button {
  margin: auto;
}

/* rating question */
.star-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* yes no question */

.button-wrapper {
  display: flex;
  gap: 4px;
}

.chosen {
  background-color: var(--yellow);
}
