/* rating form */
.star-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

/* yes no form */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  display: flex;
  gap: 4px;
}
