.checkbox-label {
  flex-direction: row;
  gap: 8px;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.question-form .form-wrapper {
  width: 70%;
}

.input-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.edit-question-wrapper {
  display: flex;
  /* gap: 8px; */
  flex-wrap: nowrap;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
}
