.checkbox-label {
  flex-direction: row;
  gap: 8px;
  text-align: left;
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.input-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.question-form .form-wrapper {
  align-items: flex-start;
}

.question-form .input-wrapper {
  justify-content: flex-start;
}

.question-form .input-label {
  text-align: left;
}

.edit-question-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.edit-button-group-wrapper {
  position: relative;
}

.edit-button-group {
  display: flex;
  gap: 4px;
}

.edit-menu-group {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 8px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .edit-menu-button {
    margin: 8px;
  }

  .edit-button-group {
    flex-direction: column;
    position: absolute;
    background: var(--overlay);
    border-radius: var(--border-radius);
    padding: 8px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .edit-menu-button {
    margin: 8px;
  }

  .edit-button-group {
    flex-direction: column;
    position: absolute;
    background: var(--overlay);
    border-radius: var(--border-radius);
    padding: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .edit-menu-button {
    display: none;
  }

  .edit-button-group {
    flex-direction: row;
    position: relative;
    background: transparent;
    padding: 0;
  }

  .edit-question-wrapper {
    width: 30%;
  }

  .question-form .form-wrapper {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
