.result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin: 100px 0;
}

.result-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.result-button-group {
  display: flex;
  justify-content: center;
  gap: 8px;
}
