.loading-overlay-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.loading-message {
  display: flex;
}

.dialog-overlay-wrapper {
  width: 100vw;
  height: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 0;
  left: 0;
}

.dialog-overlay {
  width: 50%;
  height: 50%;
  /* overflow: scroll; */
  background: var(--background);
}
