.icon-wrappper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message {
  display: flex;
}

.overlay-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--overlay);
  z-index: 10;
  top: 0;
  left: 0;
  /* center dialog overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-overlay {
  width: 50%;
  /* overflow: scroll; */
  background: var(--background);
  border-radius: 4px;
  border: 2px black solid;
  padding: 44px;
  box-shadow: 2px 2px black;
  transform: translate(-2px, -2px);
}

.dialog-overlay-content {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.dialog-overlay-form {
  margin: 32px;
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dialog-overlay-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dialog-overlay-input label {
  text-align: left;
  gap: 8px;
}
