body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --red: #ff5151;
  --yellow: #ffc900;
  --green: #0eb219;
  --red-text: #c41d1d;
  --yellow-text: #dea30d;
  --green-text: #0b9114;
  --background: #fff1ce;
  --disabled: #b1b1b1;
  --disabled-text: #676767;
  word-wrap: break-all;
}

h1 {
  font-size: 32px;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: -1px;
}

h2 {
  font-size: 28px;
  line-height: 1em;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 800;
}

.bodytext-l {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.bodytext-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.input-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.helpertext {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.button-text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;
}

.clickable {
  cursor: pointer;
}

/* element */
button,
fieldset,
input,
legend,
select,
textarea,
option,
ul {
  border-radius: 4px;
  border: 2px black solid;
  background-color: var(--background);
  padding: 8px;
  outline: 0px;
}

button,
fieldset,
input,
legend,
textarea,
option,
li,
ul {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select,
option,
li {
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;
}

button {
  max-width: 250px;
}

select {
  background: url("/public/icon/down.svg") no-repeat center right 0.75rem;
}

ul {
  list-style: none;
  margin-block-end: 0;
}

li {
  border-radius: 4px;
  padding: 8px;
  text-align: left;
}

input {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

button:hover,
button:focus,
input:hover,
input:focus,
select:hover,
select:focus {
  box-shadow: 2px 2px black;
  transform: translate(-2px, -2px);
}

option:hover,
option:focus {
  background-color: var(--yellow);
}

li:hover {
  background-color: var(--yellow);
}

button:disabled,
input:disabled {
  box-shadow: none;
  transform: none;
}

button:disabled {
  border-color: var(--disabled-text);
  background-color: var(--disabled);
  color: var(--disabled-text);
}

input:disabled {
  border-color: var(--disabled);
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked {
  background: url("/public/icon/check.svg") no-repeat center / 100% auto;
  background-color: var(--green);
}

label {
  display: flex;
  flex-direction: column;
  /* text */
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* custom color class */
.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--yellow);
}

/* custom container */
.container {
  border-radius: 4px;
  border: 2px black solid;
  padding: 32px;
}

/* custom button */
.primary-button-red {
  background-color: var(--red);
}

.secondary-button-red {
  border-color: var(--red-text);
  color: var(--red-text);
}

.secondary-button-red:hover,
.secondary-button-red:focus {
  box-shadow: 2px 2px var(--red-text);
}

.primary-button:disabled,
.secondary-button:disabled {
  box-shadow: none;
  transform: none;
}

.primary-button:disabled {
  background: var(--disabled);
  border-color: var(--disabled-text);
  color: var(--disabled-text);
}

.secondary-button:disabled {
  background-color: transparent;
  border-color: var(--disabled);
  color: var(--disabled);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
